body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#intro {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

.header-name {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 3%;
}

.intro img {
    width: 80%;
    padding-top: 5px;
}

.hire {
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 166, 0, 0.836), rgba(255, 68, 0, 0.815));
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

#dream-big {
    display: flex;
    padding-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#experiences {
    padding-top: 100px;
    margin-bottom: 100px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.extra-portion {
    display: flex;
    padding-left: 3%;
}

.box-shadow {
    width: 40%;
    box-shadow: 10px 10px 30px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

.text-color {
    color: orange;
}

footer p {
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
}